{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Address</th>
            <th>SIRET</th>
            <th>Created by</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and (is_granted('ROLE_ADMIN') or is_granted('EDIT', company) or company.isOwner(app.user)) %}
                            <li><a href="{{ path('company_edit', {'id': company.id}) }}">Edit</a></li>
                        {% endif %}
                        <li><a href="{{ path('company_view', {'id': company.id}) }}">View</a></li>
                    </ul>
                </td>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.siret }}</td>
                <td>{{ company.submittedFrom.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
