{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div>
        <h1>En cours</h1>
        {% for search in app.user.searches if search.dateEnd is not null %}
            <div>
                <div>
                    <span><a href="{{ path('search_view', {'id': search.id}) }}">{{ search.name }}</a></span>
                    <span>{{ search.dateStart|date('Y M d') }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1>Finished</h1>
        {% for search in app.user.searches if search.dateEnd is null %}
            <div>
                <div>
                    <span><a href="{{ path('search_view', {'id': search.id}) }}">{{ search.name }}</a></span>
                    <span>{{ search.dateStart|date('Y M d') }}</span>
                    <span>{{ search.dateEnd|date('Y M d') }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
