{% extends 'AppBundle::base.html.twig' %}
{# @var search \AppBundle\Entity\Search #}

{% block content %}
    <div>
        <h1>{{ search.name }}</h1>
    </div>
    <div>
        {{ form_errors(addCompanyForm) }}
        {{ form_start(addCompanyForm, {
            'attr': {
                'id': addCompanyForm.vars.id
            }
        }) }}
        {{ form_errors(addCompanyForm.company) }}
        {{ form_label(addCompanyForm.company) }}
        {{ form_widget(addCompanyForm.company) }}

        {{ form_widget(addCompanyForm._token) }}

        <input type="submit" value="Add" />
        {{ form_end(addCompanyForm) }}
        &nbsp;|&nbsp;
        <a href="{{ path('company_create', {'search': search.id}) }}">New</a>
    </div>
    {% for company in companies %}
        {# @var company \AppBundle\Entity\Company#}
        <div id="{{ company.id }}">
            <h2>
                {{ company.name }} ({{ company.countSearchDetails() }})
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and (is_granted('ROLE_ADMIN') or is_granted('EDIT', company) or company.isOwner(app.user)) %}
                    <a href="{{ path('company_edit', {'id': company.id, 'search': search.id}) }}">Edit</a>
                {% endif %}
            </h2>
            <div class="address">
                Adresse:
                <div class="address">
                    {% include 'AppBundle:Common:address.html.twig' with {'address': company.address} %}
                </div>
            </div>
            <ul>
                <li><a href="{{ path('search_details_create', {'id': search.id, 'company_id': company.id}) }}">Add</a>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock content %}
