{% extends 'AppBundle::base.html.twig' %}
{# @var search \AppBundle\Entity\Search #}

{% block content %}
    <div class="container">
        {% include 'AppBundle:Front/dashboard/search:header.html.twig' with {
            'search': search,
            'addCompanyForm': addCompanyForm
        } only %}
        {% for row in companies|batch(3) %}
            <div class="row">
                {% for company in row %}
                    {# @var company \AppBundle\Entity\Company #}
                    <div class="col-md-4 portfolio-item">
                        {% include 'AppBundle:Front/dashboard/search:company.html.twig' with {
                            'search': search,
                            'company': company
                        } only %}

                        <div class="panel-group" id="accordion_search_{{ search.id }}" role="tablist" aria-multiselectable="true">
                        {% for detail in company.searchDetails %}
                            {% include 'AppBundle:Front/dashboard/search:details.html.twig' with {
                                'search': search,
                                'detail': detail
                            } only %}
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block foot_javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#{{ addCompanyForm.company.vars.id }}').change(function () {
                var company_selected = $('#{{ addCompanyForm.company.vars.id }}').val();

                $('#{{ addCompanyForm.vars.id ~ '_add' }}').attr('href', Routing.generate('search_details_create', {
                    id: '{{ search.id }}',
                    company_id: company_selected
                }));
            });
            $('#{{ addCompanyForm.company.vars.id }}').change();
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('select').select2();
        });
    </script>
{% endblock foot_javascripts %}
