{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div>
        <h1>{{ search.name }}</h1>
    </div>
    {% for company in companies %}
        <div id="{{ company.company.id }}">
            <h1>{{ company.company.name }}</h1>
            <div class="address">
                Adresse: {{ company.company.address }}
            </div>
            <ul>
                <li><a href="#">Details ({{ company.count_search_details }})</a></li>
                <li><a href="{{ path('search_details_create', {'id': search.id, 'company_id': company.company.id}) }}">Add</a></li>
            </ul>
        </div>
    {% endfor %}
{% endblock content %}
